html, body{
    min-height: 100%
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5dc;
}


#canvas{
    min-width: 1000px;
    min-height: 600px;
    background-color: #63c5da;
    border-radius: 0.5rem;
    margin-right: 50px;
    float: left;
}

.description{
    margin-bottom: 30px;
    stroke: #306754;
}

#legend{
    background-color: whitesmoke;
    border-radius: 0.5rem;
    float: left;
    margin-left: 50px;
    margin-top: 150px;
    margin-right: 50px;
}

#graph{
    visibility: hidden;
    margin-left: 10px;
    margin-top: 50px;
    background-color: whitesmoke;
}

.county.county:hover{
    fill: black;
}

#map_container{
    margin-top: 50px;
    display: inline;
    float: left;
}

.x_axis{
    stroke: #306754;
    font-size: 16px;
}

.text{
    stroke: #306754;
}

h1{
    color: #306754;
}

h2{
    color: #306754;
}


